body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.calculator {
    margin-top: 50px;
    border: 5px solid black;
    border-radius: 10px;
    height: 600px;
    width: 420px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 50px;
}

.display {
    width: 400px;
    flex: 1;
    background-color: lightblue;
    margin-bottom: 50px;
}

.container-buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}